{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <title>countBugZero</title>
</head>

<body>
  <div class="box_container" id="boxContainer">
    <div class="header" id="header">
      <div class="logo" id="logo">
        <b>SỰ RA ĐỜI CỦA MỘT SIÊU PHẨM MANG TÊN YOBOY</b>
      </div>
      <div class="sign-in-container" id="sign-in-container">
        <button class="button_sign_in" id="button_sign_in">
          <a href="{% url 'sign_in' %}" class="no-underline">Sign In</a>
        </button>
      </div>
    </div>
    <div class="baner" id="banner">
      <!-- <img src="{% static 'images/banner.png' %}" alt="Lỗi hình"> -->
    </div>
    <div class="Upload-container" id="Upload-container">
      <button class="upload-btn" id="button_upload">Upload (.doc,.pdf) <input type="file" id="upload-file"> </button>
    </div>
    <div class="note_container" id="note_container">
      <button class="button_note" id="toggleNote" onclick="toggleNote()">
        List file upload
      </button>
      <div id="note_hide" class="hidden">
        <p>Uploaded Files:</p>
        <ul id="fileList"></ul>
      </div>
    </div>
    <!-- <script src="script.js"></script> -->
    <div class="file_uploaded" id="file_uploaded">
      <div class="part2" id="part2">
        <div class="input_box" id="input_box">
          {% csrf_token %}
          <textarea class="from-text" id="from-text" placeholder="Enter text"></textarea>
          <div class="to-text" id="to-text" placeholder="Summary">Có gì trong này không? Dài hơn tí tí đi</div>
        </div>
        <div class="option" id="option">
          <label for="Types of summarizer">Types of summarizer:</label>
          <select id="cars" name="cars">
            <option value="">...</option>
            <option value="">...</option>
            <option value="">...</option>
            <option value="">...</option>
          </select>
        </div>
        <div class="submit" id="submit">
          <input type="submit" id="input_submit" value="Summarize" onclick="summarizeText()">
      </div>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
    <!-- Trong file HTML hoặc template -->
<script>
  var summarizeUrl = '{% url "summarize" %}';
</script>

</body>

</html>